<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

  <div class="header" th:fragment="header">

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">

      <div class="container-fluid">

        <a class="navbar-brand" href="/main">CAT-MART</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link active" aria-current="page" href="/main">Main</a>
            <a class="nav-link" href="/product/list">전체 상품</a>
            <a sec:authorize="isAuthenticated()" class="nav-link" href="/order/history">내 주문내역</a>
            <a sec:authorize="isAuthenticated()" class="nav-link" href="/cart/list">장바구니</a>
            <a sec:authorize="hasAnyAuthority('ROLE_ADMIN_SELLER')" class="nav-link" href="/admin/product/list.do">상품 관리</a>
            <a sec:authorize="hasAnyAuthority('ROLE_ADMIN_SELLER')" class="nav-link" href="/admin/category/add.do">카테고리 관리</a>
            <a sec:authorize="isAnonymous()" class="nav-link" href="/member/login">로그인</a>
            <a sec:authorize="isAuthenticated()" class="nav-link" href="/member/logout">로그아웃</a>
          </div>

        </div>

      </div>

    </nav>

  </div>

</html>