<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>

  <!-- CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <!-- axios cdn -->
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

  <th:block layout:fragment="script">
    <script th:inline="javascript">

      window.addEventListener('DOMContentLoaded', function(){

        //결제 금액 init
        calculateTotalPrice();

        //각 장바구니 상품 내 수량 이벤트 감지
        document.querySelectorAll('.quantity').forEach(

          function(item) {
            //수량 value change event 감지
            item.querySelector('input[type=number]').addEventListener('change', function() {

              let changeProductParam = {
                cartItemId: this.parentNode.querySelector('.cart-item-id').value //input[type=hidden]
                , quantity: this.value
                , stock: this.parentNode.querySelector('.product-stock').value //product-stock
              };

              //장바구니 수량 update
              changeProductQuantity(changeProductParam);

            });
          }

        );

        //수량 input value 변경 시, 상품 row 한개의 값 변경
        function changeProductQuantity(changeProductParam) {

          let url = '/api/cart/cartItem';

          axios.put(url, changeProductParam).then(function(response) {

            response.data = response.data || {};
            response.data.responseResultHeader = response.data.responseResultHeader || {};

            //success
            //전체 합계 금액 계산 call
            calculateTotalPrice();

          }).catch(function(error) {

            if (error.response) {
              //요청 후, 서버가 2xx 범위 벗어나는 상태 코드를 주었다.(장바구니 익셉션 핸들러 코드 400.)
              console.log(error.response.data);
              alert(error.response.data.errorMessage);
            }

            console.log(error);
          });

        }

        //전체 합계 금액 계산
        function calculateTotalPrice() {

          let totalPrice = 0;

          document.querySelectorAll('.price').forEach(
            function(item) {

              let price = item.querySelector('span').innerHTML;

              let quantity = item.parentNode.parentNode.parentNode.querySelector('input[type=number]').value;

              totalPrice += price * quantity;
            }
          );

          // 합계 금액 30,000원 이상 시, 배송비 무료
          if (totalPrice >= 30000) {

            let shippingFee = 0; //배송비
            let addFeeTotalPrice = totalPrice + shippingFee;

            document.getElementById('shipping-fee').innerHTML = shippingFee + '원'; //배송비
            document.getElementById('except-shipping-fee').innerHTML = totalPrice + '원'; //배송비 제외 금액
            document.getElementById('totalPriceArea').innerHTML = totalPrice + '원'; //배송비 합친 금액
          } else if (totalPrice > 0) {

            let shippingFee = 3000; //배송비
            let addFeeTotalPrice = totalPrice + shippingFee;

            document.getElementById('shipping-fee').innerHTML = shippingFee + '원'; //배송비
            document.getElementById('except-shipping-fee').innerHTML = totalPrice + '원'; //배송비 제외 금액
            document.getElementById('totalPriceArea').innerHTML = addFeeTotalPrice + '원'; //배송비 합친 금액
          }

        }

        //장바구니 상품 삭제 버튼 이벤트
        document.querySelectorAll('.delete-btn').forEach(

          function(item) {
            item.querySelector('button[type=button]').addEventListener('click', function() {

              let cartItemId = this.value;
              deleteProduct(cartItemId);
            })
          }

        );


        //장바구니 상품 삭제 처리
        function deleteProduct(cartItemId) {

          let url = '/api/cart/cartItem/' + cartItemId;
          //delete -> config 내 data 속성으로 보내주어야 api에서 @RequestBody parameter 받을 수 있음
          //구조분해할당 ... -> config 중, data 속성만 든 것을 컨트롤러로 전송
          //{headers: {'Content-Type': `application/json`}, data: {...deleteProductParam}} 로 body에 전송했으나, @PathValiable 통해서 data 전송하기로 수정. (01.16)
          axios.delete(url).then(function(response) {

            response.data = response.data || {};
            response.data.responseResultHeader = response.data.responseResultHeader || {};

            //success
            //load page
            location.href = '/cart/list';

          }).catch(function(error) {

            if (error.response) {
              //요청 후, 서버가 2xx 범위 벗어나는 상태 코드를 주었다.(장바구니 익셉션 핸들러 코드 400.)
              console.log(error.response.data);
              alert(error.response.data.errorMessage);
            }

            console.log(error);
          });


        }

        //구매하기 버튼 클릭 이벤트
        document.querySelector('#btn-purchase').addEventListener('click', function() {
          location.href = '/order/cartItem';
        });

      }); //window.addEventListener

    </script>
  </th:block>

  <th:block layout:fragment="css">
    <style>

      html {
        position: relative;
        min-height: 100%;
        margin: 0;
      }

      body {
        min-height: 100%;
      }

      .footer {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        padding: 15px 0;
        text-align: center;
      }

      .header {
        margin-bottom: 20px;

      }

      .content {
        margin-bottom: 100px;
        margin-top: 50px;
        margin-left: 150px;
        margin-right: 150px;
      }

      #sum-info-tab {
        margin-top: 18px;
      }


    </style>
  </th:block>

</head>
<body>

  <div th:replace="fragments/header::header"></div>

  <div class="content">

    <!-- category info bar -->
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">
          <span class="badge badge-primary">장바구니</span>&nbsp;&nbsp;&nbsp;> 주문결제 > 결제완료
        </li>
      </ol>
    </nav>

    <!-- product detail area -->
    <div class="d-flex justify-content-center">

      <table class="container-md table table-bordered" id="cart-item-list">
        <thead>
          <tr>
            <th colspan="4">
              장바구니
            </th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="cartItem, i : ${cartItemList}" class="cart-item">
            <td class="col-4">
              <!-- img -->
              <div class="border-0 card mb-3" style="max-width: 300px;">
                <div class="row no-gutters">
                  <div class="col-md-4">
                    <img th:src="${cartItem.urlImgPath}" class="card-img" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 th:text="${cartItem.itemName}" class="card-title"></h5>
                      <p class="card-text">
                        <small class="text-muted"><span th:text="${cartItem.itemStatus}" class="badge badge-pill badge-success"></span></small>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </td>
            <td class="col-2">
              <!-- quantity  -->
              <div class="form-group quantity">
                <label th:for="'quantity_' + ${cartItem.cartItemId}">수량</label>
                <input th:value="${cartItem.quantity}" type="number" class="form-control" th:id="'quantity_' + ${cartItem.cartItemId}" th:name="'quantity_' + ${cartItem.cartItemId}" />
                <input type="hidden" th:value="${cartItem.cartItemId}" class="cart-item-id"> <!-- 장바구니 상품 Key value -->
                <input type="hidden" th:value="${cartItem.stock}" class="product-stock"> <!-- 해당 상품의 재고  -->
              </div>
            </td>
            <td class="col-4">
              <!-- price -->
              <div>
                <h2 class="price">
                  <span th:text="${cartItem.price}" class="badge badge-pill badge-light"></span>원
                </h2>
              </div>
            </td>
            <td class="col-2 delete-btn">
              <!-- btns -->
              <button type="button" th:value="${cartItem.cartItemId}" class="btn btn-outline-info btn-block">삭제</button>
            </td>
          </tr>
        </tbody>
      </table>

    </div>


    <!-- 구매하기 영역 -->
    <hr/>
    <div class="d-flex justify-content-center" id="sum-info-tab">
      <div class="container-md">
        <div class="row alert alert-light">
          <div class="col-3">
            총 상품금액 <br/> <span id="except-shipping-fee"></span> <br/>
          </div>
          <div class="col-3">
            배송비 (금액 30,000원 이상 무료) <br/> + <span id="shipping-fee"></span> <br/>
          </div>
          <div class="col-3">
            <h4>결제 금액 <span id="totalPriceArea"></span>
            </h4>
          </div>
          <div class="col-3">
            <button type="button" class="btn btn-info btn-block" id="btn-purchase">구매하기</button>
          </div>
        </div>
      </div>
    </div>



  </div>

  <div th:replace="fragments/footer::footer"></div>

</body>
</html>